<!DOCTYPE html>
<html style="background-color:#191919;" lang="en">
<head>
    <partial name="~/Pages/Shared/_GoogleTracking.cshtml" />

    <script>
        if (("; " + document.cookie).split("; " + "ColorScheme" + "=").pop().split(";").shift() === "light") {
            document.getElementsByTagName('HTML')[0].style.backgroundColor = "white";
        }
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watford Football News</title>
    <meta name="description" content="Watford FC Latest News">
    <meta name="keywords" content="Watford FC Latest News">
    <meta name="author" content="email:markh 'at' hotmail.co.uk">
    <meta http-equiv="Content-Language" content="EN">
    <link rel="canonical" href="https://watford.football/" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/site.min.css?rel=514176fe29" />

</head>
<body class="preload">
    <div id="idModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="idModalTitle">Title</h5>
                    <button id="idModalClose" type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body" id="idModalBody">
                    Body
                </div>
            </div>
        </div>
    </div>
    <div id="idLightbox" class="modal" tabindex="-1">
        <div class="modal-dialog ">
            <div class="modal-content lightbox">
                <button type="button" class="close lightbox-close" data-dismiss="modal"><span>&times;</span></button>
                <div class="lightbox-body" id="idLightboxBody">
                </div>
            </div>
        </div>
    </div>
    <header class="header sticky">
        <div class="container-fluid">
            <div class="row ">
            </div>
        </div>
    </header>
    <div id="idNavButton" class="hamburger hamburger--arrow" onclick="toggleNav();">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </div>
    <div id="idSiteTitle">
        <h1>Watford&nbsp;Football</h1>
    </div>
    <div id="idMainContent">
        @RenderBody()
    </div>
    <div id="idNavSidebar" class="sidenav">
        <br />
        <div id="idNavSidebarContent">
            <p>Provided "as is" with no warranties, and confer no rights.</p>
            <p>watford.football</p>
            <br /><br />
            <p>
                <span class="iconsidebar" onclick="doInfo();">
                    <i class='icon-white_fa-info iconfa20xp'></i>About
                </span>
            </p>
            <p>
                <span class="iconsidebar" onclick="doConfig();">
                    <i class='icon-white_fa-cogs iconfa20xp'></i>Config
                </span>
            </p>
            <p>
                <span class="iconsidebar" onclick="window.open('https://twitter.com/watfordfcnews','_blank');">
                    <i class='icon-white_fa-twitter iconfa20xp'></i>Twitter
                </span>
            </p>
            <p>
                <span class="iconsidebar" onclick="window.open('https://feeds.feedburner.com/watfordfc','_blank');">
                    <i class='icon-white_fa-rss iconfa20xp'></i>RSS&nbsp;Feed
                </span>
            </p>
            <br />


        </div>
    </div>

    <div id="idNavOverlay" onclick="toggleNav();"></div>

    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"
            integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <script src="/js/site.min.js?rel=412123b2cc"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
